body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd8d8;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    text-align: center;
}

input {
    width: 50%;
    padding: 0.5px;
    margin-bottom: 3px;
  }

#gifDisplay {
    max-width: 100%;
    width: auto;
    height: auto;
}

#emailForm {
    margin-left: 40%;
    position: absolute;
}
